.youtubeVideo 
{
    max-width: 560px; 
    max-height: 315px;
    
    position: relative; 
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}